In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/DATA606 Capstone/Raw Data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/DATA606 Capstone/Raw Data

In [ ]:
import pandas as pd

In [ ]:
df0 = pd.read_csv('Crashes_in_DC_0.csv')
df1 = pd.read_csv('Crashes_in_DC_1.csv')
df2 = pd.read_csv('Crashes_in_DC_2.csv')
df3 = pd.read_csv('Crashes_in_DC_3.csv')
df4 = pd.read_csv('Crashes_in_DC_4.csv')
df5 = pd.read_csv('Crashes_in_DC_5.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
rawCrash = pd.concat([df0, df1, df2, df3, df4, df5])

In [ ]:
rawCrash.columns

Index(['X', 'Y', 'OBJECTID', 'CRIMEID', 'CCN', 'REPORTDATE', 'ROUTEID',
       'MEASURE', 'OFFSET', 'STREETSEGID', 'ROADWAYSEGID', 'FROMDATE',
       'TODATE', 'MARID', 'ADDRESS', 'LATITUDE', 'LONGITUDE', 'XCOORD',
       'YCOORD', 'WARD', 'EVENTID', 'MAR_ADDRESS', 'MAR_SCORE',
       'MAJORINJURIES_BICYCLIST', 'MINORINJURIES_BICYCLIST',
       'UNKNOWNINJURIES_BICYCLIST', 'FATAL_BICYCLIST', 'MAJORINJURIES_DRIVER',
       'MINORINJURIES_DRIVER', 'UNKNOWNINJURIES_DRIVER', 'FATAL_DRIVER',
       'MAJORINJURIES_PEDESTRIAN', 'MINORINJURIES_PEDESTRIAN',
       'UNKNOWNINJURIES_PEDESTRIAN', 'FATAL_PEDESTRIAN', 'TOTAL_VEHICLES',
       'TOTAL_BICYCLES', 'TOTAL_PEDESTRIANS', 'PEDESTRIANSIMPAIRED',
       'BICYCLISTSIMPAIRED', 'DRIVERSIMPAIRED', 'TOTAL_TAXIS',
       'TOTAL_GOVERNMENT', 'SPEEDING_INVOLVED', 'NEARESTINTROUTEID',
       'NEARESTINTSTREETNAME', 'OFFINTERSECTION', 'INTAPPROACHDIRECTION',
       'LOCATIONERROR', 'LASTUPDATEDATE', 'MPDLATITUDE', 'MPDLONGITUDE',
       'MPDGEOX', 'MPDGEOY', 'BLOCKKEY', 'SUBBLOCKKEY', 'FATALPASSENGER',
       'MAJORINJURIESPASSENGER', 'MINORINJURIESPASSENGER',
       'UNKNOWNINJURIESPASSENGER'],
      dtype='object')

In [ ]:
rawCrash['REPORTDATE'] = pd.to_datetime(rawCrash['REPORTDATE']).dt.tz_convert(None)

In [ ]:
rawCrash['DATE'] = pd.to_datetime(rawCrash['REPORTDATE']).dt.date
rawCrash['TIME'] = pd.to_datetime(rawCrash['REPORTDATE']).dt.time

In [ ]:
rawCrash['DATE'] = pd.to_datetime(rawCrash['DATE'])

In [ ]:
rawCrash = rawCrash.loc[(rawCrash['DATE'].dt.year > 2014) & (rawCrash['DATE'].dt.year < 2020)]

In [ ]:
rawCrash

,X,Y,OBJECTID,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,STREETSEGID,...,MPDGEOX,MPDGEOY,BLOCKKEY,SUBBLOCKKEY,FATALPASSENGER,MAJORINJURIESPASSENGER,MINORINJURIESPASSENGER,UNKNOWNINJURIESPASSENGER,DATE,TIME
0,-76.927085,38.894377,192957077,27991659,19050656,2019-03-26 13:33:18,12029642,534.43,18.93,615.0,...,406307.42,136287.79,6fd11860be76867493da2ec98468c769,6fd11860be76867493da2ec98468c769,0,0,0,0,2019-03-26,13:33:18
1,-77.036396,38.960467,192957078,27715972,18102625,2018-06-24 03:49:07,11001602,6713.71,3.26,8029.0,...,396812.23,143604.39,3daa93cf853638a89321f921106cf299,3daa93cf853638a89321f921106cf299,0,0,0,0,2018-06-24,03:49:07
2,-76.958738,38.896709,192957079,27715973,18102602,2018-06-24 04:05:53,12015342,2289.58,5.17,1272.0,...,404151.99,136570.94,51e1a4cc02033e1dd539bd6fdc0aaa57,bb461ebff117b1dad0d1e7163a274fdb,0,0,1,0,2018-06-24,04:05:53
3,-76.979008,38.867878,192957080,27425857,17155768,2017-09-08 23:11:43,13001802,1293.11,20.65,-9.0,...,401801.29,133338.84,c5bd0a92fc12a1cf33c6a856f3384d8c,c5bd0a92fc12a1cf33c6a856f3384d8c,0,0,0,0,2017-09-08,23:11:43
4,-77.072910,38.922552,192957081,27978124,19042134,2019-03-13 03:25:35,11094052,2422.38,0.05,10392.0,...,393677.74,139410.34,a2cbedf18ea68ab721d3d3c75771b0c0,a2cbedf18ea68ab721d3d3c75771b0c0,0,0,0,0,2019-03-13,03:25:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,-76.999553,38.879789,193198531,27715742,18102337,2018-06-23 18:24:02,15048473,1785.60,8.47,14747.0,...,400883.65,133793.26,3dda6f37c0286a68bc3077286332de14,eb9dd7d08463737d42d59dfbad504896,0,0,0,0,2018-06-23,18:24:02
2243,-76.930122,38.900030,193200088,27508950,17206203,2017-11-29 23:58:20,0,0.00,38.14,NaN,...,406059.01,136948.13,41771b8aba8e7b7e8ac3c83eea8e86b5,e2ede70e85c44111ad3e413bc9e6d7f3,0,0,0,0,2017-11-29,23:58:20
2348,-77.016451,38.904793,193200193,27550893,18005244,2019-01-09 19:56:01,0,0.00,10.31,NaN,...,NaN,NaN,1b859fe028eafb1b837589c7505428bf,84138a3d86b6effb382c0734c7b685e5,0,0,0,0,2019-01-09,19:56:01
2578,-76.978024,38.856952,193200423,28231683,19207421,2019-11-20 15:19:12,0,0.00,4.56,NaN,...,401907.60,132082.18,a00a7bff2b1411691614c37a493aa13d,a00a7bff2b1411691614c37a493aa13d,0,0,0,0,2019-11-20,15:19:12
3503,-77.025970,38.964961,193201348,25285038,15081287,2015-06-02 05:00:00,0,0.00,0.01,NaN,...,NaN,NaN,7286023a32c40528ba9e519022f3d1a3,2d5a53f0886534580ee75f78b7cee8b1,0,0,0,0,2015-06-02,05:00:00

In [ ]:
rawCrash.to_csv('rawCrash.csv')